/* ISLAMIC FOUR PILLER SECTION START */
.four-piller-outside {
  border: 1px solid #d1ad3c;
  border-radius: 100%;
  width: 90px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}
.four-piller-inside {
  border: 1px solid white;
  border-radius: 100%;
  width: 100%;
  padding: 12%;
}
.pillers-sections:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.pillers-sections:hover .four-piller-inside {
  background-color: var(--primary-color);
}
.four-piller-names {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.four-piller-discription {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

/* HERO BANNER CSS */
.hero_banner {
  background-image: url("../../image/banner-img-1.webp");
}
.section_title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 4px;
  border-bottom: 3px solid var(--primary-color);
  text-align: center;
}

/* BOOKS COMPONENTS CSS */
/* .tabs-section .active {
  background-color: #d1ad3c;
  color: white;
} */
.tab-list {
  background-color: white;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 5px;
}
.islamic-books {
  width: 22%;
  background-color: #f7f4f4;
  border-radius: 5px;
  cursor: pointer;
}

.islamic-book-image {
  width: 100%;
  height: min-content;
  transition: transform 0.3s !important;
}

.islamic-book-image:hover {
  transform: scale(1.2) !important;
  transition: 0.3s !important;
}

.islamic-books-main {
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .islamic-books {
    width: calc(32.33% - 10px);
    height: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .islamic-books {
    width: calc(46% - 10px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .islamic-books {
    width: calc(97% - 10px);
    margin-bottom: 20px;
  }
}

/* NEWS COMPONENTS CSS */
.three-news {
  width: 22%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}
.news-category-name {
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #949ee5;
  padding: 3px 10px;
  color: white;
  font-weight: 700;
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media screen and (max-width: 1000px) {
  .three-news {
    width: 32%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .three-news {
    width: 48%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .three-news {
    width: 97%;
    margin-bottom: 20px;
  }
}