/* ISLAMIC FOUR PILLER SECTION START */
.four-piller-outside {
  border: 1px solid #d1ad3c;
  border-radius: 100%;
  width: 90px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}
.four-piller-inside {
  border: 1px solid white;
  border-radius: 100%;
  width: 100%;
  padding: 12%;
}
.pillers-sections:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.pillers-sections:hover .four-piller-inside {
  background-color: var(--primary-color);
}
.four-piller-names {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.four-piller-discription {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

/* HERO BANNER CSS */
.hero_banner {
  background-image: url("../../image/banner-img-1.webp");
}
.section_title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 4px;
  border-bottom: 3px solid var(--primary-color);
  text-align: center;
}
