:root {
  --primary-color: #d1ad3c;
  --secondary-color: #2a486c;
}

.header-topbar-main {
  display: flex;
  color: #fff;
  margin: auto;
  background-color: var(--primary-color);
  background-image: url("../image/top_bar_back.png");
  background-repeat: repeat-x;
  background-position: left, right;
  justify-content: space-around;
}
.header-topbar-sections {
  display: flex;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 1.3px;
  gap: 30px;
}
.topbar-icons i {
  display: flex;
  align-items: center;
}
.topbar-icon-link {
  display: inline-block;
  margin: 0 10px;
  transition: color 0.3s ease;
}
.topbar-icon-link i {
  background-color: var(--secondary-color);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-menu li a:hover {
  color: var(--primary-color);
}

.nav-link {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
  margin-left: 20px;
  color: var(--secondary-color);
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: width 0.3s ease, left 0.3s ease;
}
.nav-link:hover::before,
.active::before {
  width: 100%;
  left: 0;
}

.navbar-menu .active {
  color: var(--primary-color);
}

.navbar-menu::before .active {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: width 0.3s ease, left 0.3s ease;
}

#navbar-button {
  background-color: var(--primary-color);
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 14.5px 35px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  transition: all 0.15s linear;
}
#navbar-button:hover {
  background-color: var(--secondary-color);
}
.toggle-btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0px 0px 20px;
}
.toggle-btn button {
  border: 2px solid Var(--primary-color);
  padding: 1px 6px;
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .toggle-btn {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .header-topbar-main {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header-topbar-sections {
    display: block;
    font-size: 10px;
    padding: 6px;
  }
}
